*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}

.pages__padding{
    padding: 20px 130px;
    background-color: var(--body_background);
    width: 100%;
}

.dark{
        --body_background: black;
        --text_color: white;
        --button_color: #12F0C8;
        --button_text: black;
        --border_color: white;
}    

.light{
    --body_background: white;
    --text_color: black;
    --button_color: #12F0C8;
    --button_text: black;
    --border_color: black;
}

@media screen and (max-width: 1025px){
    .pages__padding{
        padding: 20px 100px;
    }
    
}

@media screen and (max-width: 768px){
    .pages__padding{
        padding: 20px 50px;
    }
    
}

@media screen and (max-width: 500px){
    .pages__padding{
        padding: 20px 20px;
    }
    
}